@font-face {
  font-family: BebasNeue;
  src: url(../fonts/BebasNeue-Regular.ttf);
  font-weight: 500; /* Black*/
}
body{
  margin: 0;
  padding: 0;
  background-image: url('../images/background.png');
  background-repeat: repeat-y;
  background-size: cover;
}
h1{
  font-size: 44pt;
  color: white;
  font-family: Montserrat;
}
h2{
  font-size: 54pt;
  font-family: BebasNeue;
  color: #2999BD;
  margin: 0;
}
h3{
  font-size: 24pt;
  color: #C1C3C8;
  font-family: Montserrat;
  font-weight: 500;
}
h4{
  font-size: 32pt;
  font-family: Montserrat;
  font-weight: 900;
  color: white;
  margin: 0;
}
p{
  font-family: Montserrat;
  font-size: 18pt;
  font-weight: 500;
  color: white ;
  margin: 20px 0 0 0;
}
.portada{
  height: 100vh;
  background-image: url('../images/bgPortada.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
}
.content{
  padding: 25px 50px 0 50px;
  background-color: rgba(0,0,0,.3);
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* align-items: center; */
  position: relative;
  z-index: 3;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.titulo{
  width: 70%;
  margin-left: 3vw;
  margin-top: 10vh;
}
.logo{
  height: 15vh;
}
.burgerButton{
  background-image: url('../images/burgerMenu.svg');
  height: 50px;
  background-color: transparent;
  /* align-self: flex-end; */
  /* position: relative; */
}

.containerServicios{
  display: flex;
  justify-content: center;
}
.tituloServicios{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.servicios{
  height: 100vh;
  background: none;
}
.line{
  height: 2px;
  border: none;
  background-color: #C1C3C8;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.serviciosItem{
  position: relative;
  width: 70%;
}
.textoServicios{
  background-color: rgba(41, 153, 189, 0.7);
  width: 30vw;
  padding: 3vh;
  position: absolute;
  bottom: -8vh;
  right: 0;
}
.imageServicio{
  width: 45vw;
}
.subtitulo{
  width: 45vw;
  text-align: right;
}
